<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| shop</title>



    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="service.css">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->











</head>
<body>
    

    
    
    <strong class="header">

        <a href="index.html"><div id="menu-btn" class="fas fa-bars"></div></a>

        <a href="index.html" class="logo"> <img src="images/logo-removebg-preview.png" alt="" srcset=""></a>

        <nav class="navbar">
            <a href="index.html">home</a>
            <a href="index.html">vehicles</a>
            <a href="services" target="_blank">shop</a>
            <a href="index.html">featured</a>
            <a href="contact">contact</a>
      
        </nav>  

        <div id="login-btn">
            <a href="https://api.whatsapp.com/send?phone=9867561997" target="_blank"><button class="explore-more">Enquire now</button>
            
                <i class=" fa-phone-office"></i>
            </a> 
            <i class="fa fa-phone-office"></i>

            <a href="https://api.whatsapp.com/send?phone=9867561997" target="_blank" class="callog"><i class="fa fa-headset"></i></i></i></a>
        </div>

    </strong>


</body>
</html>